<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/help.css">
</head>
<body>
    <div id="sec-one">
        <div class="sec1">
            <div class="sec1-desc">
                <h1>Help...<br> Guide to play <br> Bubble Buster</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dicta distinctio praesentium magnam aperiam animi nulla quia doloremque voluptate minus eius est esse earum unde voluptas nam nihil in, eveniet quis sunt aliquid? Exercitationem culpa perspiciatis tempore quas modi distinctio Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae impedit consectetur obcaecati. Aspernatur facere iste voluptatibus maxime officia iure ipsam!</p>
            </div>
            <img src="/assets/images/help-bubbles.png" alt="#" class="help-bubble">
        </div>
        <!-- <a class="arrow" href="#sec-two"></a> -->
    </div>
    <div id='sec-two'>
        <h1>Bubble Buster</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae incidunt iure laborum facilis error autem harum similique sapiente ullam velit quasi placeat, laudantium itaque, quos, animi nobis. Ad optio cum labore assumenda numquam deserunt quos esse quas! Totam eligendi rerum nostrum consectetur nihil, veniam delectus, culpa ullam nesciunt velit voluptatem iste blanditiis quidem aspernatur voluptate itaque cumque modi repellendus minima est dignissimos. Eius facilis unde voluptate voluptates? Iste, minima, harum quia totam sed laudantium omnis enim sunt nisi dolorem ducimus tempora, eius necessitatibus. Inventore esse ipsum facilis optio consectetur, error nostrum nisi iste minus debitis, dolore repudiandae mollitia distinctio dignissimos!</p>
    </div>
</body>
</html>
<script>
    // let lastScroll = 0;

    // onscroll = function() {
    //     let currentScroll = document.documentElement.scrollTop || document.body.scrollTop

    //     if (currentScroll > 0 && lastScroll <= currentScroll){
    //         lastScroll = currentScroll;
    //         scroll({
    //                 top: innerHeight,
    //                 behavior: 'smooth' 
    //             })
    //     } else {
    //         lastScroll = currentScroll;
    //         scroll({
    //                 top: -innerHeight,
    //                 behavior: 'smooth' 
    //             })
    //     }
    // }
    // onscroll = function(e) {
    //     if(this.oldScroll < this.scrollY)
            
    //     this.oldScroll = this.scrollY;
    // }
</script>